[submodule "scripts"]
	path = scripts
	url = https://github.com/INT-Scripts/palantint-scripts.git
[submodule "backend"]
	path = backend
	url = https://github.com/INT-Scripts/palantint-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/INT-Scripts/palantint-frontend.git
[submodule "libs/int-libraries"]
	path = libs/int-libraries
	url = https://github.com/INT-Scripts/int-libraries.git
